.custom-bav-bar {
  &.at-nav-bar {
    position: initial;
    padding: 0 10rpx;
    .at-nav-bar__title {
      width: 50%;
    }
    .at-nav-bar__left-view {
      padding: 0;
      .at-icon.at-icon-home {
        font-size: 40rpx !important;
        margin-left: 25rpx;
      }
      &:active {
        background-color: transparent;
      }
    }
  }
}
